@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html,body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #444;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}



.container {
    overflow: hidden;
    position: relative;
    background: red;
    display: block;
    margin: 0 auto;
    /*   
        FORCING 16:9 width:height ratio
        9/16 = 0.5625
        16/9 = 1.7778
        22px = (2*10px padding) + (2*1px border) 
        -----------------------------------------
        9/16 * 22px = 12.375px 
        16/9 * 22px = 39.111px 
    */
    width: 100vw;
    height: 56.25vw;
    max-width: 177.78vh;
    max-height: 100vh;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);


    display: flex;
    flex-direction: column;
}

canvas {
    background: black;
    flex-grow: 1;
    height:75%;
}

/* #region UI */
#ui {
    height: 400px;
    background: #555;
    height: 25%;
    display: flex;
}


/* #region abilities */
#abiltiies:empty { display: none; }
#abilities {
    display: grid;
}
#abilities button {

}
/* #endregion */
/* #endregion */


/* #region buttons */
#buttons {
    position: absolute;
    top: 0;
    left: 0;
}
#buttons button {
    position: absolute;
    background: transparent;
    border: 1px solid #aaa5;
}
#buttons button:hover {
    background: #aaa5;
}
/* #endregion */



/* #region loading screen */
#load {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #444;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#load progress { 
    width: 100%;
    border-radius: 0;
    position: relative;
    /* loading screen takes a bit to appear to avoid it popping in for a split second  */
    animation-name: fade-in;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 1s;
}
@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
#load progress::-webkit-progress-bar {
    border-radius: 1em;
    background-color: #555;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#load progress::-webkit-progress-value {
    border-radius: 1em;
    background-color: #4fbd6c;
    background: repeating-linear-gradient(
        -45deg,
        #9cdc6d,#9cdc6d 10px,
        #80c949 10px, #80c949 20px
      );
}
#load progress::before {
    content: "Loading...";
    color: white;
    text-align: center;
    bottom: 1em;
    position: absolute;
    font-size: 1.75em;
    left: 0;
    right: 0;
    font-style: italic;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    25%,75% { opacity: 1; }
    50% { opacity: 0; }
}
/* #endregion */



/* #region cards */
/* #region card */
.card { 
    background: #998978;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 0.25em;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    flex-shrink: 0;
    position: relative;
    box-sizing:border-box;
    user-select: none;
    cursor: pointer;

    background-image: url(img/card_overlay.png);
    background-size: cover;
}

.card header {
    text-align: center;
    padding: 1em 2em 0.5em 2em;
    color: white;
}
.card i {
    background: rgb(16 142 194);
    color: white;
    position: absolute;
    top: 0.4em;
    left: 0.45em;
    line-height: 0.5em;
    padding: 0.4em;
    border-bottom-right-radius: 1em;
    font-style: normal;
    border: 0.1em solid #ad812b;
    border-left-color: #ad812b;
    border-top-color: #eddebf;
    border-right-color: #4d2b16;
    border-bottom-color: #5c3315;
}
.card img {
    width: 100%;
    -webkit-user-drag: none;
    padding: 0 0.85em;
    box-sizing: border-box;
    height: 7.15em;
    object-fit: cover;
    object-position: center;
}
.card footer {
    text-align: center;
    padding: 0.5em;
    padding: 0.25em 0.75em 1.5em 0.75em;
    height: 4.33em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #endregion */



/* #region hand */
#hand {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    --card-height: 16.62em;/*220px;*/
    --card-width: 12em;/*140px;*/
    max-width: 80%;
}

#hand .card-container {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    padding: 0 1em;
    box-sizing: border-box;
}

#hand:not(.no-anim) .card-container {
    transition:  all 0.5s, font-size 0.1s ease-in;
}

#hand .card-container:last-child {
    flex: 0 0 auto;
}
#hand:not(.collapsed) .card-container:hover {
    z-index: 99;
    overflow: visible;
    /*padding-bottom: 10px;*/
    font-size: 1.25em;
}
#hand .card {
    position: absolute;
    top: 0;
    left: 0;
}

/* #region collapsed hand (upon card selection) */
#hand.collapsed {
    width: 0 !important; 
    margin-left: calc(-1*var(--card-width));
}
#hand.collapsed .card-container { padding: 0; }
/*#hand.collapsed .card-container:not(.selected) { display: none; }*/
#hand.collapsed .card-container { 
   transform: none !important;
   bottom: unset !important;
   left: unset !important;
   flex-shrink: 1;
   width: 0;
}
#hand .card-container.selected { z-index: 99; }
/* #endregion collapsed hand */

#hand.drawing .card-container {
    position: absolute;
    animation-name: draw-card;
    animation-duration: 100ms;
}
@keyframes draw-card {
    0% {
        left: 100%;
    }
    100% {
        left: 50%;
    }
}


/* #endregion hand */


/* #endregion card */


#ui > div:not(#hand) {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 12px 36px;
}
.deck {
    width: 100px;
    height: 140px;    
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    position: relative;
}
.deck::after {
    content: attr(data-count);
    position: absolute;
    bottom: -0.5em;
    background: #c23d24;
    color: white;
    border-radius: 100%;
    line-height: 0.667em;
    font-weight: bold;
    font-size: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    box-shadow: 0px 0px 15px 0px #000000;
}

#discard { background: red; }
#discard::after { right: -0.75em; }
#draw::after { left: -0.75em }
#draw { background: blue; }




/* #region discarding animation */
#hand .card-container.discarding {
    animation-name: discard;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes discard {
    0% {
        opacity: 1;
        font-size: 1em;
    }
    100% {
        opacity: 0;
        font-size: 0;
    }
}
/* #endregion */