@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #444;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    background: black;
    min-width: 460px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}



/* #region abilities */
#abiltiies:empty { display: none; }
/* #endregion */


/* #region buttons */
#buttons {
    position: absolute;
    top: 0;
    left: 0;
}
#buttons button {
    position: absolute;
    opacity: 0;
}
/* #endregion */